repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v3.2.0
        hooks:
            -   id: check-yaml
            -   id: check-json
            -   id: end-of-file-fixer
            -   id: trailing-whitespace
    -   repo: git://github.com/dnephin/pre-commit-golang
        rev: v0.3.5
        hooks:
            -   id: go-imports
            -   id: golangci-lint
